[hyper]
model_names = main aux_lstm concat outlayer

[main]
#type of architecture
architecture = conv2d_capsnet
# number of capsules
num_capsules = 7
# dimension of capsules
capsule_dim = 11
# number of routing iterations
routing_iters = 3
# width and height of the frequency convolution kernel
conv_kernel_size = 9 3
# stride of the frequency convolution kernel
stride = 1
#number of hidden layers
num_layers = 4
#input noise standart deviation
input_noise = 0.0
#dropout rate (keep probability)
dropout = 1.0

[aux_lstm]
#type of architecture
architecture = dblstm
#number of neurons in the hidden layers
num_units = 20
#the number of neurons in layer l is num_units*(fac_per_layer**l)
fac_per_layer = 1.0
#number of hidden layers
num_layers = 2
#input noise standart deviation
input_noise = 0.2
#dropout rate (keep probability)
dropout = 1.0
#the recurrent dropout rate (keep probability)
recurrent_dropout = 1.0
#wheter layer normalization should be applied
layer_norm = False
#hidden unit activation
activation_fn = tanh

[concat]
#type of architecture
architecture = concat
# which inputs to concatenate
select_inputs = True True
# whether the 2 last dimensions should be flattened
flatten_last_2_dims = False False
# whether the a dimension should be expanded to match the shape of the first input
expand_dim_to_first_input = False True

[outlayer]
#type of architecture
architecture = linear
#the number of output dims (should be set automaticaly?)
output_dims = 20
#input noise standart deviation
input_noise = 0
#dropout rate (keep probability)
dropout = 1.0
